.site-footer {
    position: fixed;
    width: 100%;
    height: 50px;
    bottom:0;
    display: flex;
    border-top: 2px solid $primarycolour;
    stroke: $basecolour;
    align-content: center;
    margin-bottom:0;
    stroke-width: 3px;
    display: inline;
    text-align: center;
}

.home-footer {
    position: fixed;
    width: 100%;
    height: 50px;
    bottom:0;
    display: flex;
    border-top: 2px solid $basecolour;
    align-content: center;
    margin-bottom:0;
    stroke-width: 3px;
    display: inline;
    text-align: center;
}

.site-footer p {
    color: $primarycolour;
}

.home-footer p {
    color: $basecolour;
}
