.radial-gradient1 {
  border-radius: 50%;
  position:fixed;
  width:100vw;
  height:100vh;
  top:0px;
  left:0px;
  transform: translate(-50%, -50%);
  opacity:80%;
  z-index: -1;
  
  background: 
  radial-gradient(rgba(255, 133, 229,1) 30%, rgba(255,255,255,0) 60%);;
  animation-name: slidein1;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes slidein1 {
  from {
  top:0vh;
  left:0vw;
  }

  25% {
  top:0vh;
  left: 100vw;
  }
  
  50% {
  top:100vh;
  left:100vw;
  }
  
  75% {
  top:100vh;
  left: 0vw;
  }

  to {
  top:0vh;
  left:0vw;
  }
}

.radial-gradient2 {
  border-radius: 50%;
  position:fixed;
  width:1200px;
  height:800px;
  top:0px;
  left:0px;
  transform: translate(-50%, -50%);
  opacity:80%;
  z-index: -1;
  
  /*Linear gradient... */
  background: 
  radial-gradient(rgba(255, 228, 120,1) 30%, rgba(255,255,255,0) 60%);
  animation-name: slidein2;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes slidein2 {
  from {
  top:0vh;
  left: 100vw;
  }

  25% {
  top:100vh;
  left: 100vw;
  }
  
  50% {
    top:100vh;
    left:0vw;
  }
  
  75% {
  top:0vh;
  left: 0vw;
  }

  to {
  top:0vh;
  left:100vw;
  }
}

.radial-gradient3 {
  border-radius: 50%;
  position:fixed;
  width:1200px;
  height:800px;
  top:0px;
  left:0px;
  transform: translate(-50%, -50%);
  opacity:80%;
  z-index: -1;
  
  background: 
    radial-gradient(rgba(255, 133, 229,1) 30%, rgba(255,255,255,0) 60%);
  animation-name: slidein3;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes slidein3 {
  from {
  top:100vh;
  left: 100vw;
  }

  25% {
  top:100vh;
  left: 0vw;
  }
  
  50% {
  top:0vh;
  left:0vw;
  }
  
  75% {
  top:0vh;
  left: 100vw;
  }

  to {
  top:100vh;
  left:100vw;
  }
}

.radial-gradient4 {
  border-radius: 50%;
  position:fixed;
  width:1200px;
  height:800px;
  top:50px;
  left:50px;
  transform: translate(-50%, -50%);
  opacity:80%;
  z-index: -1;
  
  background: 
    radial-gradient(rgba(186, 182, 233,1) 30%, rgba(255,255,255,0) 60%);
  animation-name: slidein4;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes slidein4 {
  from {
  top:100vh;
  left:0vw;
  }

  25% {
  top:0vh;
  left: 0vw;
  }
  
  50% {
  top:0vh;
  left:100vw;
  }
  
  75% {
  top:100vh;
  left:100vw;
  }

  to {
  top:100vh;
  left:0vw;
  }
}