// TITLE FONT
@font-face {
    font-family: 'Pilowlava';
    src: url('../../fonts/Pilowlava-Regular.otf') format('opentype');
    font-style: normal;
}

$decorativefont: 'Pilowlava', Helvetica, sans-serif;