// TITLE FONT
@font-face {
    font-family: 'Pilowlava';
    src: url('../../fonts/Pilowlava-Regular.otf') format('opentype');
    font-style: normal;
}

$fonttitles: 'Pilowlava', Helvetica, sans-serif;
$fonttext: Helvetica, sans-serif;



h1 {
    font-family: 'Pilowlava';
}